/* sub-header */
.sub-header {
    background-image: url("../assets/bg-my-course.jpeg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
}
.sub-header .sub-title {
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.sub-header .sub-title p {
    font-size: 0.9rem;
    margin-bottom: 10px;
}
.sub-header .sub-title a {
    color: #fff;
}
.sub-header .sub-title i {
    padding: 0 10px;
    font-size: 0.9rem;
}
/* all-course */
.all-course {
    margin-bottom: 40px;
}
.all-course .course {
    margin-top: 30px;
    background-color: #fff;
    border: 1px solid #d7e0e0;
}
.all-course .course:hover {
    transform: translateY(-1%);
    box-shadow: 2px 2px 18px 2px rgb(77 61 61 / 50%);
    transition: all 0.3s ease;
}
.all-course h3 {
    background-color: #98c6ef;
    text-align: center;
    padding: 20px 0;
    font-size: 1.7rem;
    text-transform: uppercase;
}
.all-course .banner-course {
    width: 50%;
}

.all-course .descreption-course {
    padding: 20px;
}
.all-course .descreption-top {
    display: flex;
    font-size: 0.6rem;
    justify-content: space-between;
    font-weight: 400;
}
.all-course .descreption-title {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 6px;
    margin-bottom: 20px;
}
.all-course .descreption-title a {
    color: #000;
}
.all-course .descreption-teacher {
    display: flex;
    align-items: center;
    font-weight: 300;
}
.all-course .descreption-teacher img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px; 
}
.all-course .descreption-price {
    font-size: 1rem;
    margin-top: 15px;
}
.all-course .descreption-price span {
    text-decoration: underline;
    color: #1978dc;
}
.all-course .descreption-price .sale {
    text-decoration: line-through;
    color: #999; /* Màu xám nhạt cho giá gốc */
    font-weight: 400;
    margin-right: 0.5rem;
}

/* Giá đã sale */
.all-course .descreption-price .new-price {
    color: #FF5722;
    font-weight: 600;
}

.all-course .descreption-actions {
    display: flex;
    gap: 0.7rem;
    margin-top: 0.95rem;
}

.all-course .descreption-actions .btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: 0.2rem solid;
    border-radius: 6em;
    background-color: transparent;
    cursor: pointer;
    transition: background 0.4s ease, color 0.4s ease;
    font-weight: 500;
}

/* Nút Mua khoá học */
.all-course .btn-buy {
    border-color: #81ecec;
    color: #81ecec;
    background-color: transparent;
}

.all-course .btn-buy:hover {
    background: linear-gradient(to right, #81ecec, #00cec9);
    color: #fff;
}

/* Nút Thêm vào giỏ hàng */
.all-course .btn-add-to-cart {
    border-color: #fdcb6e;
    color: #fdcb6e;
    background-color: transparent;
}

.all-course .btn-add-to-cart:hover {
    background: linear-gradient(to right, #fdcb6e, #e17055);
    color: #fff;
}